<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Template tagging</title>
    <h1 style = "color:Black;font-size:1.5em;text-align:left;font-family:Arial, Helvetica, sans-serif;">Owner:K Rithikreddy</h1>
    <link rel="stylesheet" href="css/styles.css">
  </head>
<body>
